{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "2",
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ["> 1%", "last 5 versions", "ie >= 8"]
        },
        "modules": "commonjs",
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }]
  ]
}