{
  "root": true, 
  "extends": "airbnb",
  "parserOptions": {
      "sourceType": "module"
  },
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
      "comma-dangle": [2, "never"],
      "import/no-extraneous-dependencies": 0,
      "indent": ["error", 2],
      "quotes": ["error", "double"],
      "semi": ["error", "always"],
      "no-console": "error",
      "arrow-parens": 0
  }
}